body {
  margin: 0;
  padding: 0;
  height: vh;
  width: vw;
  font-family: Helvetica, Arial, sans-serif;
  background: #ebebeb;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#progress {
  margin-bottom: 15px;
  display: none;
}
